<div class="game-selector">
    <div class="game-selector-text">Pick a game:</div>
    <div class="game-selector-options">
        <div id="game-selector-destiny" class="game-selector-on"><a onclick="showDestiny()" href="#destiny"></a></div>
        <div id="game-selector-division" class="game-selector-off"><a onclick="showDivision()" href="#division"></a></div>
        <div id="game-selector-wow" class="game-selector-off" style="display: none;"><a onclick="showWoW()" href="#wow"></a></div>
    </div>
</div>

<div id="destiny-container">
    <div class="profile-titles">
        <div class="profile-title-user"></div>
        <div class="profile-title-details">
            <div class="profile-title-guardianone">Guardian 1</div>
            <div class="profile-title-guardiantwo">Guardian 2</div>
            <div class="profile-title-guardianthree">Guardian 3</div>
        </div>
    </div>
    <div class="profiles">
        {{#each destinyData}}
            <div class="profile">
                <div class="profile-user">
                    <div class="profile-avatar" style="background-image:url('{{characters.0.emblem}}')"></div>
                    <div class="profile-summary">
                        <div class="destiny-profile-name">{{niceName}}</div>
                        <div class="destiny-profile-triumphs">{{triumphScore}}</div>
                    </div>
                </div>
                <div class="destiny-profile-details">
                    {{#each characters}}
                        <div class="destiny-character destiny-character-{{@index}}">
                            <div class="destiny-character-pad">
                                <div class="destiny-character-emblem" style="background-image:url('{{emblemBg}}')">
                                    <div class="destiny-character-class destiny-character-class-{{class}}"></div>
                                    <div class="destiny-character-details">
                                        <div class="destiny-character-light" title="Light">{{light}}</div>
                                        <div class="destiny-character-level" title="Level">{{level}}</div>
                                    </div>
                                    <div class="destiny-character-stats">
                                        {{#each stats}}
                                            <div class="destiny-character-stat destiny-character-stat-{{name}}">
                                                <div class="destiny-character-stat-icon" title="{{name}}" style="background-image:url('{{icon}}')"></div>
                                                <div class="destiny-character-stat-value" title="{{name}}">{{value}}</div>
                                            </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{/each}}
    </div>
</div>

<div id="division-container" style="display: none;">
    <div class="profile-titles">
        <div class="profile-title-user"></div>
        <div class="profile-title-details">
            <div class="profile-title-gearscore">Gear #</div>
            <div class="profile-title-pvelvl">PvE Lvl</div>
            <div class="profile-title-pvplvl">DZ Lvl</div>
            <div class="profile-title-pvekills">PvE Kills</div>
            <div class="profile-title-pvpkills">PvP Kills</div>
        </div>
    </div>
    <div class="profiles">
        {{#each divisionData}}
            <div class="profile">
                <div class="profile-user">
                    <div class="profile-avatar" style="background-image:url('{{avatar_146}}')"></div>
                    <div class="profile-summary">
                        <div class="division-profile-name">{{name}}</div>
                        <div class="division-profile-spec">{{niceName}} | {{capString specialization}}</div>
                    </div>
                </div>
                <div class="division-profile-details">
                    <div class="profile-details-text division-profile-details-gearscore">{{gearscore}}</div>
                    <div class="profile-details-text division-profile-details-pvelvl">{{level_pve}}</div>
                    <div class="profile-details-text division-profile-details-pvplvl">{{level_dz}}</div>
                    <div class="profile-details-text division-profile-details-pvekills">{{kills_npc}}</div>
                    <div class="profile-details-text division-profile-details-pvpkills">{{kills_pvp}}</div>
                </div>
            </div>
        {{/each}}
    </div>
</div>

<div id="wow-container" style="display: none;">
    {{#each wowData}}
        <div class="wow-character">
            <div class="wow-character-avatar" style="background-image:url('{{inset}}')">
                <div class="wow-character-faction wow-faction-{{faction}}"></div>
            </div>
            <div class="wow-character-summary">
                <div class="wow-character-name wow-class-{{class}}">{{name}}</div>
                <div class="wow-character-titles">{{level}} <span class="wow-race-{{race}}"></span> <span class="wow-class-{{class}}"></span></div>
            </div>
            <div class="wow-character-details">
                <div class="wow-character-details-text wow-character-details-level">{{averageItemLevel}}</div>
                <div class="wow-character-details-text wow-character-details-achievements">{{achievements}}</div>
                <div class="wow-character-details-text wow-character-details-neck">{{azeriteLevel}}</div>
                <div class="wow-character-details-text wow-character-details-pets">{{totalPets}}</div>
                <div class="wow-character-details-text wow-character-details-mounts">{{totalMounts}}</div>
            </div>
        </div>
    {{/each}}
</div>

<script>
    if(location.hash && location.hash === "#division") {
        showDivision();
    } else if(location.hash && location.hash === "#wow") {
        showWoW();
    } else if(location.hash && location.hash === "#destiny") {
        showDestiny();
    }
    function showDivision() {
        document.getElementById("division-container").style.display = "block";
        document.getElementById("game-selector-division").className = "game-selector-on";

        document.getElementById("wow-container").style.display = "none";
        document.getElementById("destiny-container").style.display = "none";
        document.getElementById("game-selector-wow").className = "game-selector-off";
        document.getElementById("game-selector-destiny").className = "game-selector-off";
    }
    function showWoW() {
        document.getElementById("wow-container").style.display = "block";
        document.getElementById("game-selector-wow").className = "game-selector-on";

        document.getElementById("destiny-container").style.display = "none";
        document.getElementById("division-container").style.display = "none";
        document.getElementById("game-selector-destiny").className = "game-selector-off";
        document.getElementById("game-selector-division").className = "game-selector-off";
    }
    function showDestiny() {
        document.getElementById("destiny-container").style.display = "block";
        document.getElementById("game-selector-destiny").className = "game-selector-on";

        document.getElementById("wow-container").style.display = "none";
        document.getElementById("division-container").style.display = "none";
        document.getElementById("game-selector-wow").className = "game-selector-off";
        document.getElementById("game-selector-division").className = "game-selector-off";
    }
</script>