<div class="game-selector">
    <div class="game-selector-text">Pick a game:</div>
    <div class="game-selector-options">
        <div id="game-selector-destiny" class="game-selector-on"><a onclick="showDestiny()" href="#destiny"></a></div>
        <div id="game-selector-wow" class="game-selector-off"><a onclick="showWoW()" href="#wow"></a></div>
    </div>
</div>

<div id="destiny-container">
    {{#each destinyData}}
        <div class="destiny-profile">
            <div class="destiny-profile-summary">
                <div class="destiny-profile-name">{{displayName}}</div>
                <div class="destiny-profile-triumphs">{{niceName}} | {{triumphScore}}</div>
            </div>
            <div class="destiny-profile-characters">
                {{#each characters}}
                    <div class="destiny-character destiny-character-{{@index}}">
                        <div class="destiny-character-emblem" style="background-image:url('{{emblemBg}}')">
                            <div class="destiny-character-class destiny-character-class-{{class}}"></div>
                            <div class="destiny-character-details">
                                <div class="destiny-character-light" title="Light">{{light}}</div>
                                <div class="destiny-character-level" title="Level">{{level}}</div>
                            </div>
                            <div class="destiny-character-stats">
                                {{#each stats}}
                                    <div class="destiny-character-stat destiny-character-stat-{{name}}">
                                        <div class="destiny-character-stat-icon" title="{{name}}" style="background-image:url('{{icon}}')"></div>
                                        <div class="destiny-character-stat-value" title="{{name}}">{{value}}</div>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                        
                    </div>
                {{/each}}
            </div>
        </div>
    {{/each}}
</div>

<div id="wow-container" style="display: none;">
    {{#each wowData}}
        <div class="wow-character">
            <div class="wow-character-avatar" style="background-image:url('{{inset}}')">
                <div class="wow-character-faction wow-faction-{{faction}}"></div>
            </div>
            <div class="wow-character-summary">
                <div class="wow-character-name wow-class-{{class}}">{{name}}</div>
                <div class="wow-character-titles">{{level}} <span class="wow-race-{{race}}"></span> <span class="wow-class-{{class}}"></span></div>
            </div>
            <div class="wow-character-details">
                <div class="wow-character-details-text wow-character-details-level">{{averageItemLevel}}</div>
                <div class="wow-character-details-text wow-character-details-achievements">{{achievements}}</div>
                <div class="wow-character-details-text wow-character-details-neck">{{azeriteLevel}}</div>
                <div class="wow-character-details-text wow-character-details-pets">{{totalPets}}</div>
                <div class="wow-character-details-text wow-character-details-mounts">{{totalMounts}}</div>
            </div>
        </div>
    {{/each}}
</div>

<script>
    if(location.hash && location.hash === "#destiny") {
        showDestiny();
    } else if(location.hash && location.hash === "#wow") {
        showWoW();
    }
    function showWoW() {
        document.getElementById("wow-container").style.display = "block";
        document.getElementById("game-selector-wow").className = "game-selector-on";

        document.getElementById("destiny-container").style.display = "none";
        document.getElementById("game-selector-destiny").className = "game-selector-off";
    }
    function showDestiny() {
        document.getElementById("destiny-container").style.display = "block";
        document.getElementById("game-selector-destiny").className = "game-selector-on";

        document.getElementById("wow-container").style.display = "none";
        document.getElementById("game-selector-wow").className = "game-selector-off";
    }
</script>